<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="prop-types">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">source</directory>
        </whitelist>
    </filter>
</phpunit>
